<div class="top">

  <div class="top-image">

    <%= image_tag "/top.jpg" %>

  </div>

  <div class="top-contents">

  <div class="top-message">

    ワンちゃん、ネコちゃんが</br>

    &nbsp;&nbsp;あなたを待っています。

  </div>

  <div class="top-btn">

    <%= link_to("さあ、はじめよう", "/users/new") %>

  </div>

  </div>

</div>





<div class="bottom">

  <h1 class="title">

  動物愛護マッチングとは

  </h1>

  <div class="servicecontent">　当ウェブサービスは新しい飼い主を探している動物達とこれから動物を飼いたいと考えている人達をつなげるマッチングサービスです。現在日本では、毎年多くの動物達が飼い主に捨てられ、保健所に送られています。そして保健所に送られた動物達は、明日の命も分からぬまま保健所で新しい飼い主を待っています。飼い主が見つからず、殺処分にされてしまう動物は毎年１２万匹にも及びます。こうした状況にも関わらず、これから動物を飼いたいと考える人の多くが向かうのは、街のペットショップなのです。私たちは、「どうにか、動物を飼いたい人と飼い主を待っている動物達を繋げる方法はないだろうか」と考えました。

  <br>

  &nbsp;&nbsp;そこで生まれたのが「動物愛護マッチング」です。新しい飼い主を探す家庭や保健所は動物の写真とプロフィールを投稿するだけで、飼い主を募集することができ、飼いたい人は里親申請ボタンを押すだけで、簡単に申請することができます。



</div>

  <div class="howtouse">



  </div>

  　







</div> 
