// Place all the styles related to the adopt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-message{
  margin-left: 30px;
}

.form-message span{
  color: red;
}

.form-body{
  margin-left: 40px;
}

.form-btn a{
  margin-left: 30px;
}
