// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-heading, .users-heading, .user-name{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 25px;
  font-weight: normal;
}

.form-body, .users-index-item, .user-email{
  margin-left: 30px;
}

.user-menus{
  margin-top: 20px;
  margin-left: 30px;
}

.star-index{
  margin-top: 20px;
  margin-left: 30px;
}

.posts-index{
  margin-top: 20px;
  margin-left: 30px;
}

.posts-index-item{
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
}

.posts-index-item a{
  font-size: 50px;
}

.male{
  color: #1e90ff;
  font-size: 2em;
}

.female{
  color: #ff69b4;
  font-size: 2em;
}

.posts-index-item .names{
  position: absolute;
  top: 0px;
  left: 150px;
}

.posts-index-item .user{
  position: absolute;
  top: 75px;
  left: 160px;
}

.posts-index-item .age{
  position: absolute;
  top: 100px;
  left: 150px;
}

.posts-index-item .breed{
  position: absolute;
  top: 100px;
  left: 280px;
}
